---
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Werners SelectLine Blog| über den Autor</title>
	</head>
	<body>
		<a href="/">Start</a>
        <h1>Über den Autor</h1>
        <h2>... der einen Blog über SelectLine schreibt!</h2>
	</body>
</html>
